

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.app{
    display: flex;
}

.textarea, .preview{
    width: 50%;
    height: 50vh;
    border: 1px solid;
    margin-left: 20px;
    padding: 20px;
    font-weight: bold;
}




